.container {
  padding: 2rem;
}

.main {
  height: 88vh;
  width: 92vw;
  padding: 1rem 4rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
}

.centerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
}

.summary {
  min-height: 300px;
  width: 350px;
  padding: 20px;
  background-color: rgb(217, 233, 248);
}

.cartBtn {
  width: 350px;
  align-self: center;
  height: 50px;
  background-color: rgb(219, 78, 60);
  color: white;
}

.flexed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
