.container {
  z-index: 10;
  background-color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 500px;
  font-size: 20px;
  transform: translate(-50%, -50%) scale(0.8);
  transition: 200ms ease-in-out;
  border-radius: 7px;
  border: 1px solid rgb(68, 66, 66);
  padding: 15px;
}
.container-header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
.container h2 {
  margin-top: 0;
  color: #009578;
}
.close-button {
  background: none;
  outline: none;
  border: none;
  font-size: 43px;
  color: black;
}
.container-body {
  padding: 10px;
  align-items: stretch;
  font-stretch: expanded;
}
.active {
  transform: translate(-50%, -50%) scale(0.8);
  display: block !important;
}
.overley {
  pointer-events: all;
  /* transition: 200ms ease-in-out; */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  z-index: 5;
  background-color: rgba(126, 122, 122, 0.5);
}

.active {
  opacity: 1;
  pointer-events: all;
}

.close {
  position: absolute;
  right: 22px;
  top: 20px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 5px;
  background-color: tomato;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
